html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(57, 66, 68);
    color: #fff;
  }
  
  .main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }

  
  .task-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 10px;
    margin-bottom: 10vh;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 25%;
    row-gap: 20px;
  }
  
  .form__item {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  
  .form__item input {
    font-family: inherit;
    padding: 7px;
    font-size: 16px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
  }

  .form__item input::placeholder {
    color: rgba(255, 255, 255, 0.667);
  }
  
  .form__item .input-invalid {
    outline: 2px solid red;
  }
  
  .form__item input[type='submit'] {
    cursor: pointer;
    background-color: #1a914c;
    color: #fff;
    border: none;
  }

  .form__result {
    width: 25%;
  }
  
  table,
  tr,
  td {
    border: 2px solid #c2c2c2;
  }
  
  table {
    border-collapse: collapse;
    background-color: #fff;
  }
  
  td {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    transition: background-color 0.2s ease;
  }