.variant-table{
    width: 400px;
    height: 100px;
}
.variant-table, .variant-table td{
    border: 1px solid black;
    border-collapse: collapse;
}
.variant-table tr:first-child{
    background-color: #548f8f;
}
.variant-table tr:nth-child(2){
    background-color: #f5f554;
}
.variant-table tr:first-child:hover{
    background-color: #CB7070;
}
.variant-table tr:nth-child(2):hover{
    background-color: #0A0ACB;
    color: white;
}

.pos-image{
    margin-top: 10px;
    height: 130px;
    width: 130px;
    position: relative;
    }
.pos-center-circle{
    position: absolute;
    border-radius: 50%;
    background-color: black;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 20px;
    border: 15px solid white;
    z-index: 10;
}
.pos-outer-circle{
    border-radius: 50%;
    background-color: black;
    width: 100px;
    height: 100px;
    position: relative;
    top: 15px;
    left: 15px
}
.pos-vertical-line{
    position: absolute;
    border-left: 5px solid black;
    height: 130px;
    left: 63px;
    z-index: 15;
}
.pos-horizontal-line{
    position: absolute;
    border-top: 5px solid black;
    width: 130px;
    top: 63px;
    z-index: 15;
}

.transform-image {
    margin-top: 10px;
    height: 130px;
    width: 130px;
}
.tr-vertical-line{
    position: fixed;
    border-left: 5px solid black;
    height: 130px;
    transform: translateX(63px);
    z-index: 15;
}
.tr-horizontal-line{
    position: fixed;
    border-top: 5px solid black;
    width: 130px;
    transform: translateY(63px);
    z-index: 15;
}
.tr-outer-circle{
    border-radius: 50%;
    background-color: black;
    width: 100px;
    height: 100px;
    transform: translate(15px, 15px);
}
.tr-center-circle{
    border-radius: 50%;
    background-color: black;
    width: 30px;
    height: 30px;
    border: 15px solid white;
    transform: translate(20px, 20px);
    z-index: 10;
}